{% extends 'base.html.twig' %}

{% block title %}Reads{% endblock %}

{% block content %}
    {% for message in app.session.flashBag.get('notice') %}
        <div class="alert {{alertClass}}">
            {{ message }}
        </div>
    {% endfor %}
    <table id="my_reads" class="table table-striped" style="width:100%">
        <thead>
            <tr>
                <th>Book</th>
                <th>Author</th>
                <th>Progress</th>
                <th>Review</th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for read in reads %}
                <tr>
                    <td> {{ read.getBook().getTitle() }} </td>
                    <td> {{ read.getBook().getAuthor().getName() }} </td>
                    <td><progress id="file" value="{{ read.progress }}" max="{{read.getBook().getPages() }}"></progress></td>
                    <td> {{ read.review }}</td>
                    <td><a class="btn btn-primary" target="_blank" href="{{path('update_read', {id: read.id})}}"><i class="fa fa-edit"></i></a></td>
                    <td><button class="btn btn-success"><i class="fa fa-check"></i></button></td>
                    <td><button class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#delete-read-modal" onclick="storeReadId({{read.id}})"><i class="fa fa-remove"></i></button></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#new-read-modal"><i class="fa fa-plus"></i> Add a read</button>

    {% include './reads/new-modal.html.twig' %}
    {% include './reads/delete-modal.html.twig' %}
{% endblock %}